﻿@model IndexViewModel 
@{
    //ViewData["Title"] = ;
}

<div class="breadcrumbs">
    @foreach (var breadcrumb in Model.Breadcrumbs)
    {
        <a href="@breadcrumb.Url">@breadcrumb.Name</a>
    }
</div>

<div class="folders">
    @foreach (var folder in Model.Folders)
    {
        <div>Folder</div>
    }
</div>

<div class="pictures">
    @foreach (var picture in Model.Pictures)
    {
        <a href="@SiteContext.ActiveSite.ImageUri/@picture.FileName">
            <img src="@SiteContext.ActiveSite.ImageUri/@picture.ThumbnailName" height="@picture.ThumbnailHeight" width="@picture.ThumbnailWidth" />
            <p>@picture.FileName</p>
        </a>
    }
</div>
