﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @SiteContext.ActiveSite.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        Pants
    </div>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
