﻿body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #263859;
    color: #eee;
}

a {
    color: #eee;
}

.content {
    padding: 1em;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.breadcrumbs {
    
}

.folders {
    border-top: 1px solid #fff;
}

.pictures {
    border-top: 1px solid #fff;
}

.pictures > a {
    display: inline-block;
    margin: 0 .5rem 1rem 0;
    width: 200px;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

.images > a > p {
    margin: 0;
}

.footer {
    flex-shrink: 0;
    background: #17223b;
}
